<%- include('./partials/header.ejs') %>
<body>
    <%- include('./partials/navbar.ejs') %>
    <div class="center-align">
        <h1>Challenges</h1>
        <h4>Practice and hone your skills through projects.</h4>

        <ul>
            <% for (let i = 0; i < challenges.length; i++){ %>
                <li><a href="/challenge/<%=challenges[i].id%>"><%= challenges[i].name %></a><br>
                    <form action="/challenge/<%= challenges[i].id %>?_method=DELETE" method="POST">
                        <a href="/challenge/<%=challenges[i].id%>/edit">Edit</a>
                        <input type="submit" value="Delete">
                    </form>
                </li>
                <br>
            <% } %>
        </ul>
        <p>Have a challenge idea? <a href="/challenge/new">Create A New Challenge</a></p>
    </div>
<%- include('./partials/footer.ejs') %>