<%- include('./partials/header.ejs') %>
<body>
    <div class="main-content-container"> 
    <h1>Update <%= challenge.name %></h1>
    <form action="/challenge/<%=challenge.id%>/edit?_method=PUT" method="POST">
        <label for="name">Name of Challenge:</label>
        <input type="text" name="name" value="<%=challenge.name%>" required> <br><br>

        <label for="description">Brief Description of Challenge:</label>
        <input type="text" name="description" value="<%=challenge.description%>"> <br><br>

        <label for="challenge">Challenge Details:</label>
        <input type="text" name="challenge" value="<%=challenge.challenge%>" required> <br><br>

        <label for="skill">Challenge Category:</label>
        <input type="text" name="skill" value="<%=challenge.skill%>" required> <br><br>
    
    <input type="submit" value="Update Challenge">
    </form>
    <a href="/challenge">Return to Challenges</a>
</div>

<%- include('./partials/footer.ejs') %>