<%- include('./partials/header.ejs') %>
<body>
    <h1><%= challenge.name %></h1>
    <h2><%= challenge.description %></h2>
    <h4>Use whatever skills you feel best to complete the project. Try to challenge yourself! The goal is to give you project ideas to help you improve your skills and/or your personal portfolio.</h4>

    <p><%= challenge.challenge %></p>

    <a href="/challenge">Return to Challenges</a>

<%- include('./partials/footer.ejs') %>